<div ng-controller="NavbarCtrl">
	<div class="header">
	  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
	    <div class="container">
	      <div class="navbar-header">
	
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	
	        <a class="navbar-brand" href="#/">Globianda INC.</a>
	      </div>
	
	      <div class="collapse navbar-collapse" id="js-navbar-collapse">
	
	        <ul class="nav navbar-nav">
	          <li ng-class="{active: isActive('/')}"><a href="#/">Home</a></li>
	          <li ng-class="{active: isActive('/about')}"><a href="#/about">About</a></li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	          <li ng-class="{active: isActive('/login')}" ng-hide="isLoggedIn()"><a href="#/login">Login</a></li>
	          <li ng-class="{active: isActive('/signup')}" ng-hide="isLoggedIn()"><a href="#/signup">Sign Up</a></li>
	          <li ng-class="{active: isActive('/logout')}" ng-show="isLoggedIn()"><a href="#/logout">Logout</a></li>
	          <li ng-class="{active: isActive('/protected')}" ng-show="isLoggedIn()"><a href="#/protected">Hello {{ getCurrentUser().get('fullname') }} <span ng-if="!actUser.get('avatar') && !fbProfileUrl" class="glyphicon glyphicon-user"></span> </a></li>
			  <li ng-if="actUser.get('avatar')"><img class="navbar-profile-img img-rounded"  ng-src="{{actUser.get('avatar')._url}}"></li>
				<li ng-if="!actUser.get('avatar') && fbProfileUrl"><img class="navbar-profile-img img-rounded"  ng-src="{{ fbProfileUrl }}">
			  </li>
				
	          
	      	</ul>
	      </div>
	    </div>
	  </div>
	</div>
</div>