<div class="container-padding-top">
	<div class="col-md-12">
	
		<h2>Protected Profile
			<button class="btn btn-default pull-right" ng-click="toggleEdit()" ng-hide="edit">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
			<button class="btn btn-default pull-right" ng-show="edit" ng-click="toggleEdit()">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
			<button class="btn btn-default pull-right" ng-show="edit" ng-click="saveChanges()">
				<span class="glyphicon glyphicon-floppy-disk"></span>
			</button>
		</h2>
		
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
				<button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
				<strong>Error!</strong> {{ error }}
			</div>
		
			<div class="alert alert-success alert-dismissable" role="alert" ng-show="success">
				<button class="close" ng-click="success = ''"><span aria-hidden="true">&times;</span></button>
				<strong>Yay!</strong> {{ success }}
			</div>
		</div>
	
		<div class="col-md-12">
			<div class="col-lg-3 col-md-4 col-sm-5">
				<p class="text-center"><img ng-src="{{ user.attributes.avatar._url }}" alt="" class="img-responsive img-thumbnail"></p>
				<div ng-show="edit">
					<div class="form-group">
						<span class="btn btn-default btn-file btn-block">Browse Image... <input type="file" id="avatar"></span>
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-block" ng-click="uploadImg()">Upload Image</button>
					</div>
				</div>

			</div>
			<div class="col-lg-9 col-md-8 col-sm-7">
				<div class="list-group">
					<div class="list-group-item">
						<h4 class="list-group-item-heading">Full Name</h4>
						<p class="list-group-item-text" ng-hide="edit"> {{ user.attributes.fullname }} </p>
						<p class="list-group-item-text" ng-show="edit">
							<input type="text" class="form-control input-sm" ng-model="formData.fullname">
						</p>
					</div>
					<div class="list-group-item">
						<h4 class="list-group-item-heading">Email</h4>
						<p class="list-group-item-text" ng-hide="edit"> {{ user.attributes.email }} </p>
						<p class="list-group-item-text" ng-show="edit">
							<input type="email" class="form-control input-sm" ng-model="formData.email">
						</p>
					</div>
					<div class="list-group-item">
						<h4 class="list-group-item-heading">Phone </h4>
						<p class="list-group-item-text" ng-hide="edit"> {{ user.attributes.phone }} </p>
						<p class="list-group-item-text" ng-show="edit">
							<input type="text" class="form-control input-sm" ng-model="formData.phone">
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>